.wrapper {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-gray);
}

.wrapper:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0;
}

.title {
  line-height: 1.6;
  margin: 0 0 5px;
}

.link {
  margin: 0 -5px;
  padding: 0 5px;
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
  transition: all var(--fast-transition) ease-in;  
}

.link:hover {
  background: var(--highlight-color);
  color: var(--light-gray);
}

.badge {
  margin: 0 10px 10px 0;
}

.badge:last-child {
  margin: 0;
}