.headline {
  min-height: 50vh;
  max-width: 850px;
  display: flex;
  align-items: center;
}

.headline a {
  color: var(--highlight-color);
  border-bottom: 2px solid var(--highlight-color);
  text-decoration: none;
  padding: 0 2px;
}

.headline a:hover {
  color: #FFF;
  background: var(--highlight-color);
  border-bottom-color: transparent;
  transition: all var(--fast-transition) ease-in;
}
