<footer id="footer">
  <div class="inner">
    <p>&copy; <%= date(new Date(), 'YYYY') %> Leandro Oriente, Desenvolvedor Front End</p>
    <p class="footer-contact">
      <a href="<%= config.social.github %>">Github</a> - <a href="<%= config.social.linkedin %>">Linkedin</a> - <a href="<%= config.social.rss %>">RSS</a>
    </p>
  </div>
</footer>
