<footer id="footer">
  <div class="inner">
    <p>&copy; <%= date(new Date(), 'YYYY') %> Leandro Oriente, Desenvolvedor Front End</p>
    <p class="footer-contact">
      <a href="https://www.linkedin.com/in/leandrooriente">Linkedin</a> - <a href="https://github.com/leandrooriente/">Github</a>
    </p>
  </div>
</footer>
