<footer id="footer">
  <div class="inner">
    <p>&copy; <%= date(new Date(), 'YYYY') %> Leandro Oriente, Desenvolvedor Front End</p>
    <p class="footer-contact">
      <a href="">Linkedin</a> - <a href="">Github</a>
    </p>
  </div>
</footer>
