@keyframes spin
  45%
    transform: rotate(0)
  48%
    transform: rotate(15deg)
  52%
    transform: rotate(-15deg)
  55%
    transform: rotate(0deg)


@keyframes slideleft
  0%
    transform: translate(-160px, 0)
  60%
    transform: translate(-160px, 0)
  100%
    transform: translate(0, 0)
