.link {
  display: inline-block;
  color: var(--secondary-color);
  border-bottom: 1px solid transparent;
  font-size: 18px;
  text-decoration: none;
  margin: 30px 0;
}

.link:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  transition: all var(--fast-transition) ease-in;  
}