#author-post
  margin: 50px 0 0
  padding: 15px 0
  border-top: 1px solid color-border

.author-picture
  width: 100px
  border-radius: 50%
  display: inline-block

.author-details
  display: inline-block
  margin: 0 0 0 15px
  position: relative
  top: -40px

.author-name
  margin: 0

.author-work
  margin: 5px 0 0
  color: color-light


@media screen and (max-width: 420px)
  .author-picture
    width: 50px
  .author-details
    top: -20px
    margin-left: 5px
