#article-nav
  overflow: hidden
  border-top: 1px solid color-border
  border-bottom: 1px solid color-border
  margin: 50px 0

.article-nav-link-wrap
  float: left
  width: 50%

  &:first-child
    border-right: 1px solid color-border

  a
    display: block
    padding: 30px 15px

#article-nav-older
  text-align: right

#article-nav-newer
  text-align: left
