#article-nav
  overflow: hidden
  border-top: 1px solid color-border
  border-bottom: 1px solid color-border
  margin: 0 0 50px

.article-nav-link-wrap
  float: left
  width: 50%

  &:first-child
    border-right: 1px solid color-border

  a
    display: block
    padding: 30px 15px

#article-nav-newer
  text-align: left

#article-nav-older
  text-align: right

@media screen and (max-width: 420px)
  .article-nav-link-wrap
    float: none
    width: 100%
    &:first-child
      border-right: none
      border-bottom: 1px solid color-border
    a
      text-align: left !important
