:root {
  --headline-font-family: 'Lora', serif;
  --paragraph-font-family: 'Source Sans Pro', sans-serif;

  --headline-font-size: 40px;
  --headline-font-size-mobile: 28px;
  --paragraph-font-size: 18px;

  --primary-color: #2a2a33;
  --secondary-color: #919199;
  --base-color: #333;

  --highlight-color: #1E30BC;
  --light-gray: #f7f5f5;

  --fast-transition: 0.135s;
}

::selection {
  background: var(--primary-color);
  color: var(--light-gray);
}

body {
  font-family: var(--paragraph-font-family);
  font-size: var(--paragraph-font-size);
  color: var(--base-color);
  padding-top: 8px;
}

body:before {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 8px;
  background:  linear-gradient(to right, #1E30BC 0%, #847ADE 50%, #1E30BC 100%);
}

* {
  box-sizing: border-box;
}