@import "nib"
@import "_variables"

*
  box-sizing: border-box

html, body
  height: 100%
  padding: 0
  margin: 0
  background: color-light-background

body
  font-family: font-default
  font-size: 14px
  color: color-default
  -webkit-text-size-adjust: 100%

.inner
  width: 100%
  max-width: 700px
  margin: 0 auto

@media screen and (max-width: 700px)
  .inner
    padding: 0 15px


.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

h1, h2, h3, h4
  line-height: 1.2
  font-weight: 500

h1
  font-size: 3rem
  margin: 0

h2
  font-size: 2rem
  margin: 80px 0 25px

h3
  font-size: 1.7rem
  margin: 50px 0 25px

h4
  font-size: 1.5rem
  margin: 30px 0 25px

p, li
  font-size: 1.2rem
  line-height: 1.6
  margin-bottom: 15px

ul
  margin: 0 0 30px
  padding: 0
  list-style: circle outside

li
  margin: 0 0 10px 30px

a
  color: color-link
  text-decoration: none

  &:hover
    text-decoration: underline

img
  max-width: 100%
  margin: 15px 0

@import "_partial/header"
@import "_partial/index"
@import "_partial/article"
@import "_partial/pagination"
@import "_partial/comment"
@import "_partial/footer"
@import "_partial/date"
@import "_partial/highlight"
