.wrapper {
  margin-bottom: 75px;
}

.wrapper:last-child {
  margin-bottom: 0;
}

.headline {
  line-height: 1.6;
  font-size: 28px;
}

.description {
  line-height: 1.4;
}

.description li {
  margin-bottom: 10px;
}

.stack {
  border-top: 1px solid var(--light-gray);
  margin-top: 20px;
  padding-top: 5px;
}

.badge {
  margin: 0 10px 10px 0;
}

.badge:last-child {
  margin: 0;
}