<% if (config.author){ %>
<section id="author-post">
  <div class="inner">
    <img src="/images/author.jpg" class="author-picture" />
    <div class="author-details">
      <h2 class="author-name">Leandro Oriente</h2>
      <p class="author-work">Desenvolvedor Front End</p>
    </div>
  </div>
</section>
<% } %>
