<% if (config.author){ %>
<section id="author-post" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <div class="inner">
    <img itemprop="image" src="/images/author.jpg" class="author-picture" />
    <div class="author-details">
      <h2 class="author-name" itemprop="name">Leandro Oriente</h2>
      <p class="author-work" itemprop="jobTitle">Desenvolvedor Front End</p>
    </div>
  </div>
</section>
<% } %>
